*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-size: 14px;
	background: lightblue;
}
.
{
	font-size: px;
	width:10 ;
}

#p
{
	text-align: center ;
	margin-right: px;
	font-size: 10px; 

}

#s
{ margin-left: ;
 padding: ;
 
}

#l
{
	text-align: center;
	button
}

.button
{
	background-color: blue;
	color:white;
	height: 35px;
	line-height: 35px;
}

#1
{
	text-align: center;
}